name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-push:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PW }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          file: Dockerfile
          push: true
          # List of tags
          tags: |
                ${{ vars.DOCKER_USERNAME }}/developertools:latest
                ${{ vars.DOCKER_USERNAME }}/developertools:${{ github.sha }}
